h1 {
  font-family: 'Muli', sans-serif;
}
h3 {
  font-family: 'Shadows Into Light', cursive;
}
h2 {
  font-family: 'Shadows Into Light', cursive;
}
.tbg{
  background-image: url(https://lh3.googleusercontent.com/6vWN24f-dKVYwD6-XXeUgaz3bZwCxfeMCYRy_ZSUtU-Hsy7zmkIU8a6XIEPLd-jTSTnR1xdaT7h1fETsgcT_9vS4wZv1GyFv_B7WuAafJqZ2e1ghhPz6WNISSmwILR-HEdfBDToiKmhPTqv1Ga_v8y9zVb3tpltRvuhJ9Eq4QrzXKqZ9_fhAsRmJld0V805SVgwlUzr9j_L28SoqRGG7MkaZBvyt0_d2DwkiJd4yq3XM7hGD2kP2FepFszAHiUjoORVnkzb3Jz-IOvNu1epl_y_zPvDLxd8uUtWjjhFBvRAUkiGXx0aut1SEraslS8tmc0mUHWzxRHzdT3Wvy6P8Zair9UIiculi8KxAULaeRf3BUolFC3OYmybYsP1R4dz4tdSM593XcOMXeoTI10XIYZlLhTRqG_xkz1EaiNOTx7HwuapunX-DKryJMsgNQBkOPLZZTNBeHiuSiExbQ053tCQa63ZzqPQrSR-ofH57KjqZ9EJ4rRbI98lEIozZt1VDXyMADITCaRv4QE4grqPwUOeCpOklEfNJz5JeT24D6pY2aXswMyC4rsZYzNpsbjh3FqwVzcDIPRGsR1ev2-O-885QWNXYR0ldwgDVpgT_9MNnN9wm-3k5=w1366-h515-no)
}
.bg1{
  background-image: url("https://lh3.googleusercontent.com/IxeSfRVmJuKhF_eSAKNcFcIjGypGWjQaLGOA5iY3f3QV88F4HGFdJ1ProHo24Pql9aF4yYz0KdLpfZ6MWhACqjtRSrDXxQtBamql3PK-S9p9PgLvptmfWOxyA11U3gSWPcoifAIFS9-h62_h_PmHxmVO3RWFws-IG6sCYFX7AdrxAOEa2RdNMmBEeZASxYMwqeOjApNkRWB7sNpY2pysRCBESw8sYfkf6uj4plOgQ8SbRY4oDoebYaxGhhbIZNFidOAG9bSepdKie6EZBBrzF1Y4FglHwfCRRz_w0QntCufzwsvOZFNqQStYE_D9Bz06-2sQnUzeIB4nrzHJjFk4UITMeqj6vivF3Ut45nuxJ7IiPme_dKxbl34ie3pvbKsaf5Gp5lRV2fKR0nyxZthyLpyypQ1-PW26Jg-CXxjg9-qYb2REjqm5x0Bv3eRvpY4URXdq2Pc4li-n_336eV3V1XinXi4LCW87yDe_Vx1e-FZWbqsCzwMO0rAcskoe0oJe13IZG6cVGhpbamMmSEI2keu_d8qLueJh2eRrwtWt1qrUB0_6ZmbgelcsF_-rtMLvMGe6jpIAmwUDWBPl5XmMUZbyEuqnBRbyZkNG66RdwVrJraOI9yi7=w1259-h944-no");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}